/* color */
$dark: #2c3038;
$white: #fff;
$text-dark: #222;
$text-light: #848484;
$blue: #14B9FF;
$light: #f7f7f7;
$black: #000;

/* fonts */
$raleway: 'Raleway', sans-serif;
$hind: 'Hind', sans-serif;
$poppins: 'Poppins', sans-serif;