.contact {
    color: $white;
    background: $blue;
    .title {
        margin-bottom: 1rem;
    }
    .contact-wrap {
        flex-direction: column;
        .membership, .contact-form {
            margin-bottom: 2rem;
        }
        @include media-query-grow(768px) {
            flex-direction: row;
            .membership, .contact-form {
                
            }
            .membership, .contact-form {
                margin-bottom: 1rem;
            }
            .membership + .contact-form {
                margin-left: 2rem;
                @include media-query-grow(1200px) {
                    margin-left: 3rem;
                }
                @include media-query-grow(1440px) {
                    margin-left: 4rem;
                }
            }
        }
        .membership {
            font-family: $hind;
            ul {
                margin: 1.5rem 0;
                li {
                    padding: 1px 0;
                    span {
                        margin-left: 0.5rem;
                    }
                }
            }
            @include media-query-grow(768px) {
                width: 60%;
            }
        }
        .contact-form {
            form {
                .input {
                    border: none;
                    padding: 0.75rem 1rem;
                    margin-bottom: 1.5rem;
                    background: $light;
                    font-family: $hind;
                }
                textarea {
                    height: 100px;
                }
            }
            @include media-query-grow(768px) {
                width: 40%;
            }
        }
    }
}