@import "../utils/variables";
@import "../utils/mixins";

header {
    padding: 0.75rem 0;
    background: $dark;
    .menu-btn {
        @include media-query-grow(1024px) {
            display: none;
        }
    }
}