@import "../utils/variables";
@import "../utils/mixins";

header {
    padding: 1rem;
    background: $dark;
    .logo + .logo-text {
        margin-left: 0.4rem;
    }
    .logo {
        width: 3rem;
    }
    .logo-text {
        width: 8rem;
    }
    .menu-btn {
        @include media-query-grow(1024px) {
            display: none;
        }
    }
}