.modal-bg {
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .tint {
        background: $black;
        opacity: 0.5;
    }
    .modal-wrap {
        width: 100%;
        height: 100%;
        .modal {
            height: 320px !important;
            background: $white;
            width: 90%;
            height: 500px;
            animation-name: showModal;
            animation-duration: 0.5s;
            @include media-query-grow(768px) {
                width: 500px;
            }
            .content-wrap {
                width: 100%;
                height: 100%;
                .close {
                    right: 0;
                    margin: 1rem;
                }
                iframe {
                    width: 100%;
                }
            }
        }
    }
}

/* animations */
@keyframes showModal {
    0% {opacity: 0; top: 40%;}
    100% {opacity: 1; top: 50%;}
}