@import "../utils/variables";
@import "../utils/mixins";
$bk-img: url("../../assets/header-background.jpg");

.showcase {
    height: 85vh;
    background-image: $bk-img;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    .tint {
        background: $black;
        opacity: 0.25;
    }
    .showcase-content {
       @include center("y", absolute);
       color: $white;
       font-family: $poppins;
       h1, p {
           text-shadow: 0 5px 15px rgb(0 0 0 / 50%);
           margin-bottom: 1rem;
       }
       h1 {
           font-size: 3rem;
       }
       p {
           max-width: 70%;
       }
       .showcase-input {
           padding: 0.9rem;
           border: 0;
           border-bottom: 1px solid $white;
           background: transparent;
           color: $white;
           margin-right: 1rem;
           margin-bottom: 1rem;
           width: 100%;
           &::placeholder {
               color: $white;
               font-family: $raleway;
           }
           @include media-query-grow(768px) {
            margin-bottom: 0;
            width: auto;
           }
       }
       form {
           flex-direction: column;
           @include media-query-grow(768px) {
            flex-direction: row;
           }
       }
    }
}
.typeform {
    animation-name: fadeIn;
    animation-duration: 1s;
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100%;
    .close-btn {
        z-index: 4;
        right: 5%;
        top: 50px;
        font-size: 2rem;
        @include media-query-grow(768px) {
            right: 10%
        }
        &:hover {
            color: #c8c8c8;
        }
    }
}

/* animations */
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}