.team {
    background: $text-dark;
    .title {
        color: $white;
    }
    .member-item {
        background: $text-dark;
        position: relative;
        .info-wrap {
            .img-wrap {
                width: 40%;
                margin: 0 auto;
                background: $white;
                border-radius: 50%;
                img {
                    border-radius: inherit;
                }
            }
            h3, span {
                text-align: center;
                color: $white;
            }
            h3 {
                margin-top: 10px;
                font-family: $poppins;
            }
            span {
                color: $blue;
                font-family: $hind;
            }
        }
    }
    .slick-next {
        right: 1rem;
    }
    .slick-prev {
        left: 1rem;
        z-index: 1;
    }
}